<%= simple_form_for(@geography) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :state %>
    <%= f.input :city %>
    <%= f.input :neighborhood %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
